@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Avenir', 'Avenir Next', 'Nunito Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.font-avenir-book {
  font-weight: 400;
}

.font-avenir-heavy {
  font-weight: 800;
}
