@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Optimist";
  src: url("/fonts/Optimist_Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Optimist";
  src: url("/fonts/Optimist_Lt.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Optimist";
  src: url("/fonts/Optimist_Bd.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Optimist", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f3eb;
  color: #00132b;
}

:root {
  --color-midnight: #00132b;
  --color-atlantic: #013d5b;
  --color-surf: #d6e8ea;
  --color-digitalblue-65: #16597a;
  --color-digitalgray-10: #e9e9e9;
  --color-oat-50: #f7f3eb;
  --color-brick: #bf5347;
  --color-fern: #7a9a01;
}

.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
